@import '../../../../../../../global_scss/Colors.scss';

.BlockImgHolder{
    
    border-radius: 4px;
    overflow: hidden;
    // background-image: url('http://www.gazforpost.ru/fake_img/icons/view.png');
    
   
}

.BlockImgHolder img{
    width: 100%;
}

.Two{
    // padding: 0px 0px 58% 0px;
    margin-bottom: 15px;
    font-size: 0px;
}

.Three{
    // background-color: aquamarine;
    margin-bottom: 15px;
    font-size: 0px;
}







