.Smi{
    // background: green;
}

.wrapper{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px -15px;
    @media (max-width:740px){
        flex-wrap: wrap;
    }

}