@import '../../global_scss/Colors.scss';


.LinkButtonSmall{
    display: flex;
    align-items: center;
    color:$colorPrimaryGreen_400;
    text-decoration: none;
    border-radius: 4px;
    margin-left: -7px;
    padding-left: 6px;
    margin-top:-2px;
    font-size: 13px;
    font-weight: 700;
}

link a{
    margin-top:-2px;  
}


link a:hover{
   text-decoration: none;

}

link:hover{
   text-decoration: none;

}