@import '../../global_scss/Colors.scss';

.Legal{
    
    
    width: 100%;
    background-color: #313a45;
    font-size: 10px;
    color: #617385;
    height: 20px;
}

.Legal p{
    margin: 0 15px;
    margin-top: 2px;
}