.Logo{
    width: 100%;
    // background-color: deeppink;
    height: 100%;
}

.white{
    display: flex;
    justify-self: stretch;
    align-self: stretch;
    // background-color: green;
    background-position: left;
    background-image: url('./assets/LogoWhite.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    width: 100%;
    height: 100%;

   
}

.blue{
    // background-color: rgb(128, 98, 0);
    background-position: center;
    background-image: url('./assets/LogoBlueOrange.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.orange{
    // background-color: rgb(128, 98, 0);
    background-position: center;
    background-image: url('./assets/LogoOrangeWhite.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}




