




@import '../../global_scss/Colors.scss';

.EquipmentPage{

}

.EquipmentPageLead{
font-size: 20px;line-height: 26px;
font-weight: 800;
color:$colorPrimaryBlue;
max-width: 770px;
margin-bottom: 60px;
}

.sticky{
     
     position: sticky !important; 
    top:30;
}



