
@import '../../global_scss/Colors.scss';

.EquipmentPage{

}

.EquipmentPageLead{
font-size: 20px;line-height: 26px;
font-weight: 800;
color:$colorPrimaryBlue;
max-width: 770px;
margin-bottom: 60px;
}

.ul {
    padding-left: 0px;
    list-style-type: none;
  }
  
.li {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
    padding-left: 1.4rem;
    background-image: url(./img/chevron_points_right.svg);
    background-position: 0 5px;
    background-size: 18px 18px;
    background-repeat: no-repeat;

    @media (max-width:900px){
      font-size: 16px;
      line-height: 24px; 
      background-size: 17px 17px;
      background-position: 0 5px;
      background-size: 14px 14px; 
      padding-left: 1rem;
  }
  @media (max-width:700px){
      font-size: 16px;
      line-height: 24px; 
      background-size: 15px 15px;
      background-position: 0 5px;
      background-size: 14px 14px; 
      padding-left: 1rem;
  }
  }

.sticky{
     position: sticky !important; 
    top:30;
}







