.BlockRow{
	display: flex;
	margin: 30px -15px;
	flex-wrap: wrap;

	align-items: stretch;
	
	justify-content: center;
  
		@media (max-width:767px){
		flex-wrap: wrap;
		}

		@media (max-width:900px){
			margin: 30px -8px;
	}
}

